@import '~bootstrap/dist/css/bootstrap.min.css';

$very-weak-password: #FF1744;
$weak-password: #FFC400;
$fair-password: #64DD17;
$good-password: #00C853;
$strong-password: green;

body {
  min-width: 900px;
}

.menu-block-title {
  margin-top: 12px;
}

.header-container {

  padding: 10px 0;

  .home-icon {
    margin-left: 26px;
    cursor: pointer;
  }

  .header-texts {
    margin-left: 25px;
    .title-text {
      font-size: 25px;
      font-weight: 900;
    }

    .title-description {
      font-size: 15px;
    }
  }
}

.menu-blocks-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.menu-block {
  cursor: pointer;
  width: 300px;
  height: 180px;
  background: #FFFFFF;
  border: 0.5px solid #B0B0B0;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.menu-block:hover {
  border: 0.5px solid #457B9D;
}

.list-block {
  position: relative;
  width: 300px;
  min-height: 560px;
  border-right: 2px solid #C4C4C4;

  .search-websites {
    margin: 20px;
    max-width: 250px;
  }

  .list {
    list-style-type: none;
    .list-item {
      border-radius: 2px;
      height: 56px;
      cursor: pointer;
      align-items: center;
      display: flex;
      padding-left: 8px;
      .website-name {
        margin-left: 12px;
      }
    }
    .li-namespace {
      height: 37px;
      display: flex;
      align-items: center;
      color: #818181;
      font-weight: 800;
      font-size: 15px;
      letter-spacing: 0.15em;
    }
    .list-item-selected {
      background: #A8DADC;
    }
  }

  .add-new-password {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.info-block {
  width: 75%;
  padding-left: 5px;
  .info-row {
    padding: 15px;
    .info-ul {
      padding: 0;
      list-style-type: none;
    }

    .info-header {
      .info-url {
        color: #457B9D;
        font-size: 20px;
        margin-left: 12px;
      }
    }

    .info-field {
      .info-field-title {
        font-weight: 700;
        font-size: 10px;
        color: #000000;
      }
      .show-password-icon, .edit-password-icon {
        cursor: pointer;
        margin-left: 24px;
      }
    }
  }
}

.password-generator-container {

  .left-generator, .right-generator {
    width: 56%;
    margin: auto;
  }

  .given-words-info-block, .random-password-generator-block {
    padding-top: 25px;
    width: 320px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #457B9D;
    box-shadow: 0 4px 20px rgba(168, 218, 220, 0.5);
    border-radius: 30px;
    .header {
      font-size: 28px;
      font-weight: 600;
    }
    .description {
      font-style: normal;
      font-weight: 800;
      font-size: 15px;
      line-height: 138%;
    }
    .guide {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 138%;
      letter-spacing: 0.0075em;
      color: #457B9D;
    }
  }
}

.analyzer-container {
  width: 60%;
  margin: auto;
}

.new-website-container {
  padding: 20px;
  width: 75%;

  .new-website-form-block {
    width: 35%;
  }
}

.score-text {
  text-align: right;
  span[data-score='0'] {
    color: $very-weak-password;
  }
  span[data-score='1'] {
    color: $weak-password;
  }
  span[data-score='2'] {
    color: $fair-password;
  }
  span[data-score='3'] {
    color: $good-password;
  }
  span[data-score='4'] {
    color: $strong-password;
  }
}

.strength-meter {
  position: relative;
  height: 4px;
  background: #ddd;
  margin: 7px 0;
  border-radius: 2px;
}

.strength-meter:before,
.strength-meter:after {
  content: "";
  height: inherit;
  background: transparent;
  display: block;
  border-color: #fff;
  border-style: solid;
  border-width: 0 6px 0;
  position: absolute;
  width: calc(20% + 6px);
  z-index: 10;
}

.strength-meter:before {
  left: calc(20% - 3px);
}

.strength-meter:after {
  right: calc(20% - 3px);
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
}

.strength-meter-fill[data-strength="0"] {
  width: 20%;
  background: $very-weak-password;
}

.strength-meter-fill[data-strength="1"] {
  width: 40%;
  background: $weak-password;
}

.strength-meter-fill[data-strength="2"] {
  width: 60%;
  background: $fair-password;
}

.strength-meter-fill[data-strength="3"] {
  width: 80%;
  background: $good-password;
}

.strength-meter-fill[data-strength="4"] {
  width: 100%;
  background: $strong-password;
}



// Global
.vertical-align-middle {
  vertical-align: middle;
}

br {
  content: " ";
  margin: -8px 0px;
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

input:focus {
  border-color: #111113 !important;
  box-shadow: none !important;
}

.actions-block {
  height: 30px;
  button {
    padding: 0 0.75rem !important;
    margin-right: 20px;
  }
}

.numeric-input-block {
  width: 148px;
  max-width: 148px;
  position: relative;
  .custom-numeric-input {
    max-width: 108px;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 999px 0 0 999px;
    /* Gray/300 */
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    height: 44px  ;
  }

  .input-arrow-up, .input-arrow-down {
    background: #026E78;;
    width: 40px;
    height: 22px;
    position: absolute;
    z-index: 999;
    transition: 0.3s;
  }

  .input-arrow-down:hover, .input-arrow-up:hover {
    background: #015364;
  }

  .input-arrow-up {
    top: 0;
    right: 3px;
    border-radius: 0 999px 0 0;
  }

  .input-arrow-down {
    bottom: 0;
    right: 3px;
    border-radius: 999px 0 0 0;
    transform: rotate(180deg);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.btn-black {
  background: black;
  color: #FFFFFF;
}

.btn-black:hover {
  background: black;
  color: #FFFFFF;
}

.f-11 {
  font-size: 11px;
}